@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a,
ul, li, label, article
footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, footer, header, menu, nav, section {
	display: block;
}

html {
	box-sizing: border-box;
}

body {
	line-height: 1;
	background: #222;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 13pt;
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #999;
	margin: 0 0 0.5em 0;
	line-height: 1.3;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: inherit;
}

h2 {
	font-size: 1.65em;
}

	h2.major {
		position: relative;
		border-top: solid 5px #ececec;
		font-size: 1.65em;
		text-align: center;
		margin: 0 0 3em 0;
		top: 0.8em;
	}

		h2.major span {
			background: #333;
			position: relative;
			display: inline-block;
			top: -0.8em;
			padding: 0 1.25em 0 1.25em;
		}

h3, h4 {
	font-size: 1.25em;
}

a {
	color: #006376;
	text-decoration: underline;
}

	a:hover {
		text-decoration: none;
	}

p {
	margin-bottom: 1em;
}

/* Page wrapper */
	#page-wrapper > section {
		margin-bottom: 0;
	}

/* Navigation */
	#nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		background-color: rgba(0,0,0, 0.95);
		width: 100%;
		height: 3.35em;
		line-height: 3.35em;
		cursor: default;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		font-family: 'Open Sans Condensed', sans-serif;
	}

	#nav ul {
		position: relative;
		z-index: 1001;
	}

	#nav li {
		display: inline-block;
		position: relative;
		margin: 0 0.5em 0 0.5em;
		top: 0;
	}

	#nav li > ul {
		display: none;
	}

	#nav li a, #nav li span {
		display: block;
		position: relative;
		color: #777;
		text-decoration: none;
		top: -6px;
		padding: 6px 1.5em 0.25em 1.5em;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		outline: 0;
	}

	#nav li:hover, #nav li.active {
		top: 3px;
	}

	#nav li:hover a, #nav li:hover span {
		background: #cacaca;
		color: black;
	}

	#nav li.active a, #nav li.active span {
		background: #cacaca;
		color: black;
	}

	#nav li.current > a {
		background: #dbdbdb;
		color: black;
	}

/* Header */
	#header {
		font-size: 1.8em;
		padding: 2em;
		background: #333;
		margin: 0 auto;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		font-family: 'Open Sans Condensed', sans-serif;
	}

	#header .logo {
		position: relative;
		text-align: center;
		top: 1.5em;
	}

	#header .logo div {
		background: #333;
		position: relative;
		display: inline-block;
		padding: 0 1.5em 0 1.5em;
		top: -0.65em;
	}

	#header .logo h1 {
		display: inline;
		color: #ececec;
	}

	#header .logo p {
		display: inline;
		color: #555;
	}

/* Main */
	#main {
		background: #333;
		border-top: solid 5px #dbdbdb;
		border-bottom: solid 5px #cacaca;
		border-top-width: 10px;
		border-bottom-width: 10px;
		padding: 2em 0 2em 0;
	}

/* Footer */
	#footer {
		text-align: center;
		padding: 2em 0 2em 0;
		color: #777;
	}

		#footer a {
			color: inherit;
		}

		#footer h2.major {
			margin: 0 0 1em 0;
		}

			#footer h2.major span {
				background: #222;
			}

/* Copyright */
	#copyright {
		display: inline-block;
		background: #ececec;
		padding: 0.75em 2em 0.75em 2em;
		border-radius: 8px;
		color: #777;
		margin: 2em 0 0 0;
	}

		#copyright a {
			color: inherit;
		}

		#copyright p {
			margin: 0;
			border-color: #cacaca;
			border-width: 2px;
			line-height: 1em;
		}

/* Article */
	section, article {
		margin-bottom: 4em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

/* Container */
	.container {
		margin: 0, auto;
		width: 100%;
	}

/* List */
	ul {
		list-style: disc;
		padding-left: 1em;
	}

	ul li {
		padding-left: 0.5em;
	}

/* Meta */
	ul.meta {
		font-size: 0.85em;
		color: #a8a8a8;
		list-style: none;
		padding-left: 0;
	}

		ul.meta li {
			position: relative;
			display: inline-block;
			margin-left: 1em;
			padding-left: 0;
		}

			ul.meta li a {
				color: inherit;
				outline: 0;
			}

			ul.meta li:first-child {
				margin-left: 0;
			}

			ul.meta li::before {
				opacity: 0.5;
				cursor: default;
				margin-right: 0.5em;
			}

/* Box */
	.box.feature {
		text-align: center;
	}

	.box.page-content {
		padding: 0 100px 0 100px;
	}

/* Row */
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row > .col-0 {
		width: 100%;
	}
	
	.row > .col-1 {
		width: 8.33333%;
	}

	.row > .col-2 {
		width: 16.66667%;
	}

	.row > .col-3 {
		width: 25%;
	}

	.row > .col-4 {
		width: 33.33333%;
	}

	.row.gtr-200 {
		padding: 0 100px 0 100px;
	}

/* Skill Line */
	.skill-line {
		margin-left: 2em;
	}

/* Colors */
	.progress-100 {
		color: green;
	}

	.progress-75 {
		color: yellow;
	}

	.progress-50 {
		color: orange;
	}

	.progress-0 {
		color: red;
	}

	.stale {
		color: #b55;
		font-style: italic;
		opacity: 0.8;
	}

	.complete {
		color:#777;
		font-style: italic;
	}
